replicaCount: 1

image:
  registry: ghcr.io
  repository: headlamp-k8s/headlamp
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
namespaceOverride: ""

# Shared volume definition for token
volumes:
  - name: shared-token
    emptyDir: {}
  - name: plugins
    emptyDir: {}

# Init container
initContainers:
  - name: sa-token-retrieval
    image: alpine/kubectl
    imagePullPolicy: IfNotPresent
    command:
    - /bin/sh
    - -c
    - |
      TOKEN=$(kubectl get secret $(kubectl get serviceaccount $(HEADLAMP_SERVICE_ACCOUNT_NAME) -o jsonpath="{.secrets[0].name}") -o jsonpath="{.data.token}" | base64 --decode);
      echo -n $TOKEN > /shared/token;
    volumeMounts:
      - name: shared-token
        mountPath: /shared

config:
  inCluster: true
  baseURL: ""
  oidc:
    secret:
      create: true
      name: oidc
    clientID: ""
    clientSecret: ""
    issuerURL: ""
    scopes: ""
    callbackURL: ""
    validatorClientID: ""
    validatorIssuerURL: ""
    useAccessToken: false
    usePKCE: false
    externalSecret:
      enabled: true
      name: oidc
    meUserInfoURL: ""
  pluginsDir: "/headlamp/plugins"
  enableHelm: false
  watchPlugins: false
  extraArgs: []

automountServiceAccountToken: true

serviceAccount:
  create: true
  annotations: {}
  name: ""

clusterRoleBinding:
  create: true
  clusterRoleName: cluster-admin
  annotations: {}

deploymentAnnotations: {}
podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext:
  runAsNonRoot: true
  privileged: false
  runAsUser: 100
  runAsGroup: 101

service:
  annotations: {}
  type: ClusterIP
  port: 80
  clusterIP: ""
  loadBalancerIP: ""
  loadBalancerSourceRanges: []
  nodePort: null

# Main container
containers:
  - name: headlamp
    image: ghcr.io/headlamp-k8s/headlamp:v0.39.0
    args:
      - -in-cluster
      - -plugins-dir=/headlamp/plugins
      - -oidc-client-id=$(OIDC_CLIENT_ID)
      - -oidc-client-secret=$(OIDC_CLIENT_SECRET)
      - -oidc-idp-issuer-url=$(OIDC_ISSUER_URL)
      - -oidc-scopes=$(OIDC_SCOPES)
    volumeMounts:
      - name: shared-token
        mountPath: /shared
      - name: plugins
        mountPath: /headlamp/plugins

volumeMounts:
  - name: plugins
    mountPath: "/headlamp/plugins"

persistentVolumeClaim:
  enabled: false
  annotations: {}
  accessModes: []
  size: ""
  storageClassName: ""
  selector: {}
  volumeMode: ""

ingress:
  enabled: false
  annotations: {}
  labels: {}
  ingressClassName: ""
  hosts: []
  tls: []

resources:
  requests:
    cpu: "100m"
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}
tolerations: []
affinity: {}
priorityClassName: ""

pluginsManager:
  enabled: false
  configFile: "plugin.yml"
  configContent: ""
  baseImage: node:lts-alpine
  version: latest
  securityContext: {}

podDisruptionBudget:
  enabled: false
  minAvailable: 0
  maxUnavailable: null
  unhealthyPodEvictionPolicy: null

extraManifests: []
env:
  - name: HEADLAMP_DYNAMIC_CLUSTERS_ENABLED
    value: "false"
