
apiVersion: v1
kind: ServiceAccount
metadata:
  name: agic-serviceaccount
  namespace: kube-system
  annotations:
    azure.workload.identity/client-id: "4af1a466-2fe5-4505-8bc1-23971ea7ae2f"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: agic-clusterrole
rules:
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses", "ingressclasses"]
    verbs: ["get","list","watch","update","patch"]
  - apiGroups: ["appgw.ingress.azure.io"]
    resources:
      - "azureapplicationgatewayrewrites"
      - "azureapplicationgateways"
      - "azureapplicationgatewaylisteners"
      - "azureapplicationgatewayrewrites" 
    verbs: ["get","list","watch","create","update","patch","delete"]
  - apiGroups: [""]
    resources: ["pods","services","endpoints","secrets","namespaces","configmaps","nodes"]
    verbs: ["get","list","watch"]
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get","create","update","patch","list","watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: agic-clusterrolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: agic-clusterrole
subjects:
  - kind: ServiceAccount
    name: agic-serviceaccount
    namespace: kube-system


---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: agic-deployment
  namespace: kube-system
  labels:
    app: agic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: agic
  template:
    metadata:
      labels:
        app: agic
    spec:
      serviceAccountName: agic-serviceaccount
      containers:
        - name: agic
          image: mcr.microsoft.com/azure-application-gateway/kubernetes-ingress:latest
          env:
            - name: APPGW_SUBSCRIPTION_ID
              valueFrom:
                secretKeyRef:
                  name: agic-secrets
                  key: subscriptionId
            - name: APPGW_RESOURCE_GROUP
              valueFrom:
                secretKeyRef:
                  name: agic-secrets
                  key: resourceGroup
            - name: APPGW_NAME
              valueFrom:
                secretKeyRef:
                  name: agic-secrets
                  key: appGwName
            - name: WATCH_NAMESPACE
              value: default
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 3
      terminationGracePeriodSeconds: 30
