image:
  repository: goharbor
  tag: v2.14.1-arm64
  pullPolicy: IfNotPresent

expose:
  type: ingress
  tls:
    enabled: true
    certSource: auto
  ingress:
    hosts:
      core: core.harbor.domain
    controller: default
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"

externalURL: https://core.harbor.domain

persistence:
  enabled: true
  resourcePolicy: keep
  persistentVolumeClaim:
    registry:
      accessMode: ReadWriteOnce
      size: 5Gi
    jobservice:
      jobLog:
        accessMode: ReadWriteOnce
        size: 1Gi
    database:
      accessMode: ReadWriteOnce
      size: 1Gi
    redis:
      accessMode: ReadWriteOnce
      size: 1Gi
    trivy:
      accessMode: ReadWriteOnce
      size: 5Gi
  imageChartStorage:
    type: filesystem
    filesystem:
      rootdirectory: /storage

harborAdminPassword: Harbor12345

nginx:
  image:
    repository: goharbor/nginx-photon
    tag: v2.14.1-arm64
  replicas: 1

portal:
  image:
    repository: goharbor/harbor-portal
    tag: v2.14.1-arm64
  replicas: 1

core:
  image:
    repository: goharbor/harbor-core
    tag: v2.14.1-arm64
  replicas: 1

jobservice:
  image:
    repository: goharbor/harbor-jobservice
    tag: v2.14.1-arm64
  replicas: 1

registry:
  registry:
    image:
      repository: goharbor/registry-photon
      tag: v2.14.1-arm64
  controller:
    image:
      repository: goharbor/harbor-registryctl
      tag: v2.14.1-arm64
  replicas: 1

trivy:
  enabled: true
  image:
    repository: goharbor/trivy-adapter-photon
    tag: v2.14.1-arm64
  replicas: 1

database:
  type: internal
  internal:
    image:
      repository: goharbor/harbor-db
      tag: v2.14.1-arm64
    password: changeit

redis:
  type: internal
  internal:
    image:
      repository: goharbor/redis-photon
      tag: v2.14.1-arm64

exporter:
  image:
    repository: goharbor/harbor-exporter
    tag: v2.14.1-arm64
  replicas: 1

logLevel: info
