expose:
  type: ingress
  tls:
    enabled: true
    certSource: auto
    auto:
      commonName: "core.harbor.domain"
  ingress:
    hosts:
      core: core.harbor.domain
    controller: default
    kubeVersionOverride: ""
    className: ""
    annotations:
      ingress.kubernetes.io/ssl-redirect: "true"
      ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
    labels: {}
  loadBalancer:
    name: harbor
    ports:
      httpPort: 80
      httpsPort: 443
    annotations: {}
    labels: {}
    sourceRanges: []

externalURL: https://core.harbor.domain

persistence:
  enabled: true
  resourcePolicy: "keep"
  persistentVolumeClaim:
    registry:
      storageClass: ""
      accessMode: ReadWriteOnce
      size: 5Gi
    jobservice:
      storageClass: ""
      accessMode: ReadWriteOnce
      size: 1Gi
    database:
      storageClass: ""
      accessMode: ReadWriteOnce
      size: 1Gi
    redis:
      storageClass: ""
      accessMode: ReadWriteOnce
      size: 1Gi
    trivy:
      storageClass: ""
      accessMode: ReadWriteOnce
      size: 5Gi
  imageChartStorage:
    disableredirect: false
    type: filesystem
    filesystem:
      rootdirectory: /storage

harborAdminPassword: "Harbor12345"

internalTLS:
  enabled: false

imagePullPolicy: IfNotPresent

containerSecurityContext:
  privileged: false
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  runAsNonRoot: true
  capabilities:
    drop:
      - ALL

nginx:
  image:
    repository: goharbor/nginx-photon
    tag: v2.14.1
  replicas: 1

portal:
  image:
    repository: goharbor/harbor-portal
    tag: v2.14.1
  replicas: 1

core:
  image:
    repository: goharbor/harbor-core
    tag: v2.14.1
  replicas: 1

jobservice:
  image:
    repository: goharbor/harbor-jobservice
    tag: v2.14.1
  replicas: 1
  maxJobWorkers: 10
  securityContext:
    fsGroup: 10000

registry:
  registry:
    image:
      r
