expose:
  type: ingress
  tls:
    enabled: true
    certSource: auto
    auto:
      commonName: "core.harbor.domain"
  ingress:
    hosts:
      core: core.harbor.domain
    controller: default
    kubeVersionOverride: ""
    className: ""
    annotations:
      ingress.kubernetes.io/ssl-redirect: "true"
      ingress.kubernetes.io/proxy-body-size: "0"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
    labels: {}

externalURL: https://core.harbor.domain

persistence:
  enabled: true
  resourcePolicy: "keep"
  persistentVolumeClaim:
    registry:
      accessMode: ReadWriteOnce
      size: 5Gi
    jobservice:
      accessMode: ReadWriteOnce
      size: 1Gi
    database:
      accessMode: ReadWriteOnce
      size: 1Gi
    redis:
      accessMode: ReadWriteOnce
      size: 1Gi
    trivy:
      accessMode: ReadWriteOnce
      size: 5Gi

harborAdminPassword: "Harbor12345"

internalTLS:
  enabled: false

imagePullPolicy: IfNotPresent

containerSecurityContext:
  privileged: false
  allowPrivilegeEscalation: false
  seccompProfile:
    typ
